    #About{
    width: 100%;
    height: 35px;
    @media screen and (min-width: 768px) {
        height: 5px;
    }
}
.app__headerBox{
    height: max-content;
    background: var(--deepBlue-color);
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
}
.app__header{
    flex: 1;
    width: 100%;
    flex-direction: row;
    padding: 1rem 0rem 0em;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        padding:0rem 6rem 0em;
    }
    @media screen and (min-width: 2000px) {
        padding: 0rem 12rem 0em;
    }
}
.app_header-icon{
    position: fixed;
    left: 0;
    bottom: 90px;
    z-index: 500;
    padding: 0rem 0rem 0rem 3rem;
    ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li{
        padding: 3rem 0rem 0rem;
            
        a{
            
            button{
                background: none;
                border: none;

                color: var(--lightBlue-color);
                opacity: 0.7;
                font-size: 1.2rem;
                transition: all 300ms ease-in-out;
                position: relative;
                bottom: 0px;
            
                &:hover {
                    bottom: 5px;
                    color: var(--mainPurple-color);
                }
            }
        }
        }
    }
    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.scrollup {
    position: fixed;
    right: 2rem;
    bottom: -50%;

    width: 20px;
    height: 20px;
    background: none;
    border-radius: 50%;
    padding: 2rem;

    color: var(--lightBlue-color);
    border: 1px solid var(--lightBlue-color);
    display: inline-flex;
    font-size: 0.8rem;
    z-index: 10000;
    transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (max-width: 1200px) {
        display: none;
    }
}
.scrollup:hover {
    transform: translateY(-.5rem);
}
.show-scroll {
    bottom: 2rem;
}

.app_project-title,
.app_header-mobileText{
    // border: 1px solid red;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .header-title{
        padding: 1rem 0rem 0rem;
    }
    .header-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem 0rem 0rem 1.2rem;
        font-family: Roboto;
        @media screen and (min-width:1200px) {
            padding: 6rem 2rem 0rem 1.8rem;    
        }
        h1{
            font-size: 70px;
            font-weight: 700;
            color: var(--lightBlue-color);
            line-height: 110%;
            @media screen and (max-width: 1200px) {
                font-size: 60px;
            }
            @media screen and (max-width: 480px) {
                font-size: 50px;
            }
        }
        h2{
            height: 180px;
            font-size: 3.8rem;
            font-weight: 300;
            color: var(--lightBlue-color);
            line-height: 130%;
            padding-top: 1.5rem;
            
            @media screen and (max-width: 1200px) {
                font-size: 50px;
            }
            @media screen and (max-width: 480px) {
                font-size: 40px;
            }

            span{
                background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }
        }
        p{
            display: none;
            @media screen and (min-width:768px) {
                margin-top: 0rem;
                width: 90%;
                font-size: 1.2rem;
                font-weight: 200;
                line-height: 190%;
                color: #bbdefbab;
                display: block;
            }
            span {
                color: #bbdefb;
                font-weight: 300;
            }
        }
    }
}

.app_header-img{
    display: none;
    @media screen and (min-width: 1200px) {
        display: flex;
        position: relative;
        padding: 0rem 1rem;
        max-width: 34%;
    }
    
    img{
        display: none;
        position: relative;
        left: 0px;
        top: 0px;
        filter: hue-rotate(15deg) saturate(0.2);
        outline: none;
        outline-offset: 0;
        padding: 15px;
        border-radius: 50%;
        transition: all 350ms ease-in-out;
        &:hover{
            filter:  hue-rotate(0deg) saturate(1);
            left: -15px;
            top: -15px;
            box-shadow: 0 0 45px rgba(0, 0, 0, 0.6), inset 0 0 0 5px #815cf0, inset 0 0 0 5px #AA367C;
        }
        @media screen and (min-width: 1200px) {
            max-width: 100%;
            display: block;
            margin: 0px auto;
            object-fit: contain;
        }
        @media screen and (min-width: 2000px) {
            max-width: 80%;
        }
    }
}
.app_header-Deco{
    width: 120px;
    height: 120px;
    margin: 0px auto;
    margin: 5rem 0rem 5rem;
    
    @media screen and (min-width: 1200px) {
        display: none;
    }
    img{
        width: 100%;
        object-fit: contain;
        @media screen and (min-width: 780px) {
            display: none;
        }
    }
}
#app__header-mobile{
    flex: 1;
    width: 100%;
    flex-direction: row;
    background: var(--deepBlue-color);

    .app_header-mobileText{
        justify-content: center;
       .app_mobileText-img{
            padding: 2rem 0rem 0rem 1.5rem;
            max-width: 50%;
            img {
                max-width: 80%;
                object-fit: contain;
                @media screen and (min-width: 650px) {
                    max-width: 65%;
                }
            }
        }
        
        .header-content{
            height: max-content;
            padding: 1rem 0rem 0rem 1.8rem;
            p{
                margin-top: 0rem;
                width: 90%;
                font-size: 1rem;
                font-weight: 200;
                line-height: 190%;
                color: #bbdefb92;
                display: block;

                span{
                    color: #bbdefb;
                    font-weight: 300;
                }
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}