// 最外侧box

.app__projects{
    padding: 0rem 0rem 0em;
    @media screen and (min-width: 1200px) {
        padding: 5rem 6rem 0em;
    }

    @media screen and (min-width: 2000px) {
        padding: 3rem 12rem 0em;
    }
}
.app__statement,
.app__header,
.app__projects,
.app__skills,
.app__footer{
    width: 100%;
    flex-direction: column;
    background: var(--deepBlue-color);
   
// 标题
    .app_project-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0rem 0rem 0rem;
        
        .header-title {
            font-family: 'Courier Prime', monospace;
            font-size: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--lightBlue-color);

            svg {
                color: var(--lightBlue-color);
                font-size: 0.8rem;
            }
            span {
                font-size: 1.2rem;
                padding-left: 1rem;
            }
        }
        @media screen and (max-width:1200px) {
            width: 100%;
        }
        @media screen and (min-width:1200px) {
            padding: 0rem 0rem 0rem;
        }
    }
}
// button filter
.app__projects-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 2rem 0 1rem;

    .app__projects-filter-item {

        padding: 0.5rem 1.2rem;
        border-radius: 1.5rem;
        background-color: rgba(255, 255, 255, 0.7);
        color: var(--deepBlue-color);
        font-weight: 500;
        cursor: pointer;
        transition: all 300ms ease;
        margin: 0.5rem 0.4rem;
        font-size: 0.7rem;
        z-index: 1000;
        &:hover {
            background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
            color: #fff;
        }

        @media screen and (min-width:1200px) {
            padding: 0.8rem 1.7rem;
            border-radius: 6rem;
            margin: 4rem 1rem 2rem;
            font-size: 1rem;
        }
    }

    .item-active {
        background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    }
}
// mobile css
.app__projects-contentMobile{
    position: absolute;
    left: 0;
    bottom:0;
    right: 0;
    width: 100%;
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.8rem 1.4rem 0.8rem;
    margin: 0px;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(3px);
    display: flex;
    &::before{
        content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid transparent;
            border-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #4A2FBD, rgba(255, 255, 255, 0)) 1;
            border-image-slice: 1;
            filter: blur(10px);
    }
    align-items: center;
    justify-content: space-between;
      
    .app__project-text {
        z-index: 20;
        color: var(--white-color);
        h4 {
            // padding: 0rem 1rem;
            font-size: 13px;
            font-weight: 500;
            line-height: 1em;
            margin: 0px;
        }
    }
    .app__project-iconBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .app__project-icon{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #0d192ebd;
            margin: 0rem 0.4rem;
            font-family: var(--content-font);
            font-weight: 800;
            cursor: pointer;
            svg{
                width: 55%;
                height: 55%;
                color: var(--white-color);
                z-index: 20;
                
            }
        }
    }
    
}
.app__projects-portfolio,
.app__projects-portfolioMobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .app__projects-item{
        width: 400px;
        flex-direction: column;

        margin: 0.5rem;
        padding: 0rem;
        border-radius: 0.5rem;
        color: black;

        cursor: pointer;
        transition: all 300ms ease;
        &:hover{
            box-shadow: 0 0 25px rgba(0,0,0,0.4);
        }
        @media screen and (min-width:1200px) {
            width: 490px;
            border-radius: 0.75rem;
        }
        @media screen and (max-width:520px) {
            width: 100%;
            margin: 0.5rem;
        }
        @media screen and (max-width:1800px) {
            margin: 2.5rem;
        }
    }
}
.app__projects-img{
    width: 100%;
    height: 280px;
    position: relative;

    
    @media screen and (max-width:360px) {
        height: 220px;
    }
    @media screen and (min-width:1200px) {
        height: 380px;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }
}
.app__projects-hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 300ms ease;


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &::before {
        content: "";
        background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
        opacity: 0.85;
        position: absolute;
        width: 100%;
        height: 0%;
        transition: 0.4s ease-in-out;
        border-radius: 0.5rem;
        z-index: 10;
        top: 0;
    }

    &:hover::before {
        top: 10;
        height: 100%;
    }
    .app__project-text{
        z-index: 20;
        color: var(--white-color);
        text-align: center;
        h4 {
            padding: 1rem 1rem;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: 0.8px;
            line-height: 1.1em;
        }
    
        span {
            font-weight: 400;
            font-size: 0.875;
            letter-spacing: 0.8px;
        }
    }
    .app__project-iconBox{
        display: flex;
        flex-direction: row;
        .app__project-icon{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.6);
            color: var(--white-color);
            margin: 0.5rem;
            font-family: var(--content-font);
            font-weight: 600;
            cursor: pointer;
            transition: all 300ms ease;
            svg{
                color: var(--white-color);
                z-index: 20;
            }
        }
    }
}

.app__projects-content{
    padding: 0.5rem;
    width: 100%;
    position: relative;
    flex-direction: column;
    h4{
        margin-top: 1rem;
        line-height: 0;
        color: var(--deepBlue-color);

    }
    .app__projects-tag{
        position: absolute;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: #fff;
        top: -25px
    }
}
.app__project-loadMoreBtn,
.app__skills-resume{
    z-index: 1;
    margin: 2rem 0rem 0rem;
    font-family: var(--mini-font);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    color: var(--lightBlue-color);
    transition: all 300ms ease-in-out;
    left: 0px;


    @media screen and (max-width: 768px) {
        background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    @media screen and (min-width: 1200px) {
        &:hover {
            left: 10px;
            background-image: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
    span {
        padding: 0 0.5rem;
    }
}