.closeBtn{
    cursor: pointer;
}
.app__overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

.app__projectModel-container{
    max-width: 75%;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;

    .app__projectModel-imgContent{
        width: 80%;
        margin: 0px auto;
        img{
            border-radius: 2px;
            width: 100%;
        }
    }
}
.app__projectModel-textContent{
    padding: 50px 0px 30px;
    width: 80%;
    margin: 0px auto;

    ul{
        list-style: none;
        padding: 10px 0px;
        li{
            padding: 10px 5px;
        }
    }
}
.app__projectModel-imgContent{
    padding: 0px;
    padding-bottom: 50px;
}
.closeBtn{
    position: fixed;
    top: 22px;
    right: 22px;
    font-size: 25px;
    opacity: 0.7;
}

.app__project-iconList{
    position: sticky;
    
    top: 32px;
    left: 42px;

    .iconList{
        display: flex;
        flex-direction: column;

        a{
            font-size: 20px;
            text-decoration: none;
            color: var(--deepBlue-color);
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.15) 0px 2px 4px -1px;

            padding: 16px 16px;
            border-radius: 50px;
            margin: 15px 0px;
            
            button{
                background: none;
                border: none;

                svg{
                    font-size: 20px;
                    opacity:0.4;
                    transition: all 300ms ease-in;
                    &:hover {
                        color: var(--mainPurple-color);
                        opacity: 1;
                    }
                }
            }
        }
    }

}
.video_position{
    margin: 0px auto;
    width: 80%;
}
.ending_content{
    text-align: center;
    font-size: 2rem;
    padding: 30px 0px;
    color: #696969;
    font-family: Helvetica, sans-serif;
    font-size: 18px;

}
.app_project-introBox{
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
    color: var(--blue-color);
    font-family: var(--content-font);

    h3 {
        font-size: 1.7rem;
        padding: 0px 0px 20px;
        opacity: 0.85;
        font-weight: 500;
    }

    .app_project-intro{
        padding: 3px 0px 0px 10px;
        
        h5{
            font-size: 1.1rem;
            font-weight: 400;
            letter-spacing: 7px;
            opacity: 0.7;
        }
        p{
            width: 70%;
            padding: 5px 0px 25px;
            opacity: 0.5;
            font-weight: 400;
        }

    }

}