.cursor {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    pointer-events: none;
    color: #0d192e65;
    @media screen and (max-width:1200px) {
        display: none;
    }
}