@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --mini-font:'Courier Prime', monospace;
    --content-font:'Roboto',sans-serif;

    --primary-color: #edf2f8;
    --deepBlue-color: #0D192E;
    --lightBlue-color: #BBDEFB;
    --mainPurple-color: #7F5AF0;
    --gray-color: #C5C5C5;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}