@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --mini-font:'Courier Prime', monospace;
    --content-font:'Poppin',sans-serif;

    --white-color: #ffffff;
    --deepBlue-color: #0D192E;
    --blue-color: #111F39;

    --lightBlue-color: #BBDEFB;
    --mainPurple-color: #815cf0;
    --gray-color: #C5C5C5;
    --gradient-color: linear-gradient(90.21deg, rgb(170, 54, 124) -5.91%, rgb(74, 47, 189) 111.58%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
   
}
*::-webkit-scrollbar {
    background-color: #0D192E;
}

*::-webkit-scrollbar-thumb {
    background-color: #152540;
    border-radius: 20px;
}
